//SASS variables
@import "utilities/utilities.scss";
//---------------------------------------//

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 12rem;
  width: 100vw;
  background-color: $base-color;
  background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
  color: #ffffff;
  padding: 1.5em 1.5em 1.5em 1.5em;

  & #write-tweet {
    @include centerMe;
    flex-direction: column;
    color: #fff;
    gap: 1rem;
    justify-content: center;
    font-family: Source Sans Pro, sans-serif;
  }

  & .logo {
    font-size: 3.5rem;

    & .logo-img {
      width: 5rem;
      height: 5rem;
    }
  }

  & span {
    font-family: Bungee, sans-serif;
  }

  @media (min-width: 1024px) {
    background-color: $large-header-color;
    background-image: none;
  }
}
