//SASS variables

$large-header-color: #4056a1;
$error-border: 0.4rem solid red;
$error-border-background: linear-gradient(
  45deg,
  #ff000010 25%,
  #ffffff 25%,
  #ffffff 50%,
  #ff00000f 50%,
  #ff00000f 75%,
  #ffffff 75%,
  #ffffff 100%
);

@mixin error {
  color: red;
  background-image: $error-border-background;
  background-size: 18.057rem 18.057rem;
  font-size: 0.8rem;
  font-weight: 600;
  border: $error-border;
  justify-content: center;
  display: none;
  h1 {
    text-align: center;
  }

  @media (min-width: 1024px) {
    font-size: 0.9rem;
  }
}

//---------------------------------------//

div {
  display: flex;
  justify-content: space-between;
}

button {
  color: #fff;
  background-color: $large-header-color;
  font-family: Bungee, sans-serif;
  font-size: 2rem;
  cursor: pointer;
}

textarea {
  align-items: center;
  font-weight: bold;
  height: 5rem;
  resize: none;
  font-size: 2rem;
}

#tweet-text {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: black 5px solid;
  margin-top: 1.5em;
  margin-bottom: 1em;
  background-color: inherit;
}

#tweet-text-label {
  font-size: 2.5rem;
  font-weight: 600;
}

#tweet-count {
  font-family: Bungee, sans-serif;
}

.compose-title {
  font-size: 3rem;
}

.counter {
  font-family: Bungee, sans-serif;
}

.errorLength {
  @include error;
}

.errorEmptyField {
  @include error;
}

@media (min-width: 1024px) {
  h2 {
    display: none;
  }
  .username-header {
    font-size: 3.5rem;
  }
}
