//SASS variables
@import "utilities/utilities.scss";
//---------------------------------------//

div {
  display: flex;
  justify-content: space-between;
}

button {
  color: #fff;
  background-color: $large-header-color;
  font-family: Bungee, sans-serif;
  font-size: 2rem;
  cursor: pointer;
}

textarea {
  align-items: center;
  font-weight: bold;
  height: 5rem;
  resize: none;
  font-size: 2rem;
}

#tweet-text {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: black 5px solid;
  margin-top: 1.5em;
  margin-bottom: 1em;
  background-color: inherit;
}

#tweet-text-label {
  font-size: 2.5rem;
  font-weight: 600;
}

#tweet-count {
  font-family: Bungee, sans-serif;
}

.compose-title {
  font-size: 3rem;
}

.counter {
  font-family: Bungee, sans-serif;
}

.errorLength {
  @include error;
}

.errorEmptyField {
  @include error;
}

@media (min-width: 1024px) {
  h2 {
    display: none;
  }
  .username-header {
    font-size: 3.5rem;
  }
}
