//SASS variables
$base-color: #004f8c;
$large-header-color: #4056a1;
$background-color: #f4f1ec;
$box-shadow: 0.7rem 0.7rem rgba(145, 134, 211, 0.423);
$button-goUp-color: rgba(255, 0, 0, 0.499);
$shadow-color-basic: rgba(0, 0, 0, 0.4);

//ERROR variables
$error-border: 0.4rem solid red;
$error-border-background: linear-gradient(
  45deg,
  #ff000010 25%,
  #ffffff 25%,
  #ffffff 50%,
  #ff00000f 50%,
  #ff00000f 75%,
  #ffffff 75%,
  #ffffff 100%
);

//---------------------------------------//

//SASS centerMe mixin
@mixin centerMe {
  display: flex;
  align-items: center;
}

//SASS ERROR mixin

@mixin error {
  color: red;
  background-image: $error-border-background;
  background-size: 18.057rem 18.057rem;
  font-size: 0.8rem;
  font-weight: 600;
  border: $error-border;
  justify-content: center;
  display: none;
  h1 {
    text-align: center;
  }

  @media (min-width: 1024px) {
    font-size: 0.9rem;
  }
}

//---------------------------------------//
