nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 120px;
  width: 100vw;
  background-color: #004f8c;
  background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
  color: #ffffff;
  padding: 1.5em 1.5em 1.5em 1.5em;
}

span {
  font-family: Bungee, sans-serif;
}

#write-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: center;
  font-family: Source Sans Pro, sans-serif;
}
