div {
  display: flex;
  justify-content: space-between;
}

#tweet-form textarea {
  align-items: center;
  font-weight: bold;
  height: 5rem;
  resize: none;
  font-size: 2rem;
}
#tweet-form #tweet-text-label {
  font-size: 2.5rem;
  font-weight: 600;
}

.new-tweet button {
  color: #fff;
  background-color: #4056a1;
  font-family: Bungee, sans-serif;
  font-size: 2rem;
  cursor: pointer;
  border: none;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  transition: all 0.5s ease-out;
}
.new-tweet button:hover {
  font-size: 2.2rem;
  box-shadow: 0 0.7rem 0.7rem rgba(0, 0, 0, 0.4);
  transform: scale(1.2);
}
.new-tweet #tweet-text {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: black 5px solid;
  margin-top: 1.5em;
  margin-bottom: 1em;
  background-color: inherit;
}
.new-tweet #tweet-count,
.new-tweet .counter {
  font-family: Bungee, sans-serif;
}
.new-tweet .errorLength {
  color: red;
  background-image: linear-gradient(45deg, rgba(255, 0, 0, 0.062745098) 25%, #ffffff 25%, #ffffff 50%, rgba(255, 0, 0, 0.0588235294) 50%, rgba(255, 0, 0, 0.0588235294) 75%, #ffffff 75%, #ffffff 100%);
  background-size: 18.057rem 18.057rem;
  font-size: 0.8rem;
  font-weight: 600;
  border: 0.4rem solid red;
  justify-content: center;
  display: none;
}
.new-tweet .errorLength h1 {
  text-align: center;
}
@media (min-width: 1024px) {
  .new-tweet .errorLength {
    font-size: 0.9rem;
  }
}
.new-tweet .errorEmptyField {
  color: red;
  background-image: linear-gradient(45deg, rgba(255, 0, 0, 0.062745098) 25%, #ffffff 25%, #ffffff 50%, rgba(255, 0, 0, 0.0588235294) 50%, rgba(255, 0, 0, 0.0588235294) 75%, #ffffff 75%, #ffffff 100%);
  background-size: 18.057rem 18.057rem;
  font-size: 0.8rem;
  font-weight: 600;
  border: 0.4rem solid red;
  justify-content: center;
  display: none;
}
.new-tweet .errorEmptyField h1 {
  text-align: center;
}
@media (min-width: 1024px) {
  .new-tweet .errorEmptyField {
    font-size: 0.9rem;
  }
}
.new-tweet .compose-title {
  font-size: 3rem;
}

@media (min-width: 1024px) {
  h2 {
    display: none;
  }
  .username-header {
    font-size: 3.5rem;
  }
}
