.all-tweets-container {
  height: 500px;
}

.single-tweets-container {
  width: 100%;
  height: 225px;
  border: 5px black solid;
  display: flex;
  padding: 0em 1em 1em 1em;
  margin-bottom: 50px;
}

.single-tweets-container:hover {
  box-shadow: 7px 7px rgba(145, 134, 211, 0.423);
}

.tweets-container-content {
  width: 100%;
  flex-direction: column;
}

.content-top {
  justify-content: center;
  display: flex;
  justify-content: space-between;
}

.content-top-right {
  font-size: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.content-top-left {
  font-size: 20px;
  opacity: 30%;
  font-weight: 600;
  color: rgb(37, 16, 114);
}

.content-bottom {
  padding-top: 1em;
  font-size: 15px;
  border-top: 5px black solid;
}

.content-middle {
  font-size: 20px;
}
.content-bottom-icons {
  gap: 10px;
  cursor: pointer;
  color: darkblue;
}

.content-bottom-icons i:hover {
  color: gold;
}
